.header-wrapper {
  .header__inline-menu {
    display: flex;
    justify-content: center;
  }
}

.header--top-center {
  .headlogo .header__heading {
    width: 100%;
  }
}

.clist_right .card-wrapper .card {
  background: transparent;
  .card__media {
    background: #fbf9f7; // #f3f3f3
  }
  .card__content {
    // background: #fff;
    // padding: 15px 0;
  }
}

.card-wrapper.wbproduct-container {
  .media {
    // padding-top: 125%;
    background-color: #fbf9f7; // #f3f3f3
    // border: 1px solid #ebebeb;
    // position: relative;
    // img {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: calc(100%);
    //   height: 100%;
    //   object-fit: contain;
    // }
    img {
      transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
    }
  }

  .color-background-2 {
    background-color: unset !important;
  }

  .card__content {
    padding: 15px 0;
  }

  .product-title {
    font-size: 11px;
    padding-bottom: 8px;
  }

  .price-item {
    font-size: 16px;
    font-weight: 400;
  }

  &:hover {
    .product-title {
      text-decoration: underline;
    }
    .media img + img {
      transform: scale(1.05) !important;
    }
  }
}
